html, body {
background-color: pink;
}

.myrow{
height:30px;

}

img{
  margin : 25px;
  box-shadow: 2px 5px 3px ;
  border-radius: 25px;

}


.mycol{

}

#container{
   margin-bottom: 50px;

}

span{
  font-size: 100px;
  font-weight: bolder;
  padding: 10px;
  margin-left: 140px;

}

.top{
  margin-left: 140px;
}

.logo{
  margin-right: 170px;
}


h1{
  font-size: 40px;
  font-weight: bold;
  font-family: cursive;

}

hr{
  width: 2px;
  color: grey;
}
